@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container,
.thank-you {
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    border-radius: 0.625rem;
}

button {
    font-family: inherit;
}

p {
    line-height: 2;
}

ul {
    list-style-type: none;
}

.main-container img {
    padding: 0.5rem;
    background-color: hsl(213, 16%, 27%);
    border-radius: 50%;
}

.main-container h1 {
    margin: 2rem 0 1rem;
}

.main-container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.main-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main-container ul li button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: hsl(213, 16%, 27%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.main-container ul li button:hover {
    background-color: hsl(25, 97%, 53%);
}

.main-container ul li button:focus {
    background-color: hsl(217, 12%, 63%);
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    border: none;
    width: 100%;
    font-size: 1rem;
    padding: .8rem .4rem;
    border-radius: 30px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: .3s;
}

.btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.hidden {
    display: none !important;
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}

.thank-you p.gray {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 16%, 27%);
    border-radius: 30px;
    padding: .3rem .5rem 0 .5rem;
    margin-bottom: 2rem;
}

.thank-you p.last {
    color: hsl(217, 12%, 63%);
    width: 780px;
    margin-top: .5rem;
}

.attribution {
    font-size: 14px; 
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
    .thank-you p.last {
        color: hsl(217, 12%, 63%);
        width: 275px;
        margin-top: .5rem;
    }
}